#main_block, #second_block {
    border: 1px solid black;
    max-width: 200px;
    max-height: 200px;
    background: burlywood;
    margin: 5px;
}

#main_block ul li, #second_block ul li {
    margin-top: 5px;
}

#main_block ul li button, #second_block ul li button {
    margin-left: 5px;
}
