.menu_block {
    display: inline-flex;
}

body input {
    display: block;
    margin: 0 2px;
}

body button {
    display: block;
    margin: 0 2px;
}

#name_block li {
    max-width: 200px;
    padding: 5px 0;
    border: 2px solid black;
    margin: 2px 0;
}