#container {
    max-width: 400px;
    background: moccasin;
    border: 1px solid black;
}

.input_block {
    margin: 5px 2px;
}

.btn {
    margin: 5px 2px;
    cursor: pointer;
}

.wrap_block li {
    margin: 0 5px;
    padding: 2px 0;
}