* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_block {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    background: #e59c0e;
}

.btn-up {
    transform: translateY(-230px);
    transition: 2s !important;
}

.btn-down {
    transform: translateY(230px);
    transition: 2s !important;
}

.btn-left {
    transform: translateX(-450px);
    transition: 2s;
}

.btn-right {
    transform: translateX(450px);
    transition: 2s;
}