* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

#main_block {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    background: #e59c0e;
}

.btn-up {
    top: 0 !important;
    transition: 2s;
}

.btn-down {
    bottom: 0 !important;
    transition: 2s;
}

.btn-left {
    left: 0 !important;
    transition: 2s;
}

.btn-right {
    right: 0 !important;
    transition: 2s;
}